*~
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
.eggs
.cache
.pytest_cache
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
tags
